[Unit]
Description=dns_forwarder service

[Service]
User=root
WorkingDirectory=/srv/dns_forwarder
LimitNOFILE=4096
ExecStart=/srv/dns_forwarder/dns_forwarder
Restart=on-failure
StartLimitInterval=180
StartLimitBurst=30
RestartSec=5s

[Install]
WantedBy=multi-user.target
